/* #variant-container::before {
    content: "";
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%; 
    height: 100%;  
    opacity: .4; 
    background: url("wallpaper.jpg");
    background-size:100%;
    z-index: -1;
}

#default-variant-container::before {
    content: "";
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%; 
    height: 100%;  
    opacity: .4; 
    background: url("wallpaper.jpg");
    background-size:100%;
} */

/* @font-face {
    font-family: FoxJumps;
    src: url("FoxJumps.otf") format("opentype");
}

.Player[data-player-id="1197366"]:first-child {
    color: orange;
    font-family: FoxJumps;
    font-size: 22pt;
} */

body.accessible #main-content, body.accessible #main-content>div, body.accessible body, body.accessible html, body.dark #main-content, body.dark #main-content>div, body.dark body, body.dark html {
    background-color: rgba(26,26,26,0.4) !important;
}

body {
    background-image: url(https://myoshu.github.io/ogs-style/wallpaper.jpg);
    background-size: cover;
}

.Card:has(.about-container) {
    visibility: hidden;
}

/* #main-content {
    background: linear-gradient(rgba(26, 26, 26, 0.4), transparent) !important;
} */

.body.dark #main-content {
    background-color: linear-gradient(rgba(26, 26, 26, 1), transparent) !important;
}

#variant-container, #default-variant-container {
    background: transparent !important;
}